@import './_variable.scss';
.el-menu--horizontal {
	border-bottom: 0;
}
.el-aside {
	background-color: $baseColor;
}
.el-table--scrollable-x .el-table__body-wrapper, .el-table__body {
	&::-webkit-scrollba {
		display: none;
	}
}